[[source]]
name = "pypi"
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
opencv-python = "*"
pyinstaller = "*"
requests = "*"

[requires]
python_version = "3.8"
